body {
  font-family: 'Poppins', sans-serif;
  background-color: #f9fafb;
  color: #111827;
  text-align: center;
  transition: all 0.5s ease;
}

header {
  background: linear-gradient(90deg, #2563eb, #7c3aed);
  color: white;
  padding: 20px;
}

img {
  width: 100px;
  margin-top: 20px;
  transition: transform 0.3s;
}
img:hover {
  transform: rotate(20deg);
}

button {
  margin-top: 20px;
  padding: 10px 18px;
  background: #7c3aed;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

body.modo-oscuro {
  background-color: #111827;
  color: #f9fafb;
}
